/* CSS Document */

@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body{

}
header{


}
footer{


}

.new{
  background-color: #55595c;
  margin-left: 100;

}

.price{
  border-color:	#FFFF00;
  border-style: solid;
  border-width: 6px;
  text-align: center;
padding-right: -50px;
}
.services__block__img{
  border-color:	#FFFF00;
  border-style: solid;
  border-width: 6px;
  text-align: center;
  padding: 40px;

}
.pic{

  margin: 10px;

}

.row{


}
